
	
	body{
		margin: 0;
		text-align:center;
		font-family: 'Merriweather', serif;
		color: #40514E;

	}

	/*hr{
		background-color: white;
		border-style: groove ;
		height:2px ;
		width: 30% ;
	}*/

	hr{

		border:dotted #EAF6F6 6px;
		border-bottom: none;
		width:4%;
		margin:100px auto;

	}
	h1{
		margin: 0 auto 0 auto;
		font-family: 'Sacramento', cursive;
		font-size: 70px;
		margin-top: 50px;
		color: #66BFBF;
	}

	h2{
		color: #66BFBF;
	}

	h3{
		color: #66BFBF;
	}

	a{
		color:#11999E;
		font-family: 'Montserrat', sans-serif;
		margin: 10px 20px;
		text-decoration: none;
	}

	a:hover{
		color: #EAF6F6;
	}

	.devops{

		font-size: 1.5rem;
	}

	.dev{
		text-decoration: underline;
		font-size: 1.5rem;
		color: #66BFBF;
	} 

	p{

		font-family: 'Montserrat', sans-serif;
		line-height: 2;
		

	}


	.top-container{
		position:relative;
		background-color: #E4F9F5;
		padding-top:100px;
	}

	.middle-container{

	}

	.bottom-container{

		margin-top: 100px;
		margin-bottom: 30px;
		background-color: #66BFBF;
		padding:50px 0 20px;

	}

	.top-cloud{
		position:absolute;
		top:50px;
		right: 300px ;
	}

	.bottom-cloud{
		position:absolute;
		left:300px;
		bottom:300px;

	}

	.profile-pic{
		width:200px; 
		height:200px;
		padding-top: 30px;
		border-radius: 60%
	}

	.dnd{
		margin-top: 0px;
		width: 25%;
		float: left;
		margin-right: 30px;

	}

	.fish{
		width:25%;
		float: right;
		margin-left: 30px;
	}

	.skill-row{
		width: 50%;
		margin: 100px auto 100px auto;
		text-align: left;
		line-height: 2;
	}

	.skills{
		padding top: 100px;
		margin-bottom: 10px;
	}

	/*.desc{

		font-family: 'Roboto Condensed', sans-serif;
	}*/

	.btn {
	  background: #329ce3;
	  background-image: -webkit-linear-gradient(top, #329ce3, #156394);
	  background-image: -moz-linear-gradient(top, #329ce3, #156394);
	  background-image: -ms-linear-gradient(top, #329ce3, #156394);
	  background-image: -o-linear-gradient(top, #329ce3, #156394);
	  background-image: linear-gradient(to bottom, #329ce3, #156394);
	  -webkit-border-radius: 8;
	  -moz-border-radius: 8;
	  border-radius: 8px;
	  font-family: Arial;
	  color: #ffffff;
	  font-size: 20px;
	  padding: 10px 20px 10px 20px;
	  text-decoration: none;
	  margin:auto auto auto auto;
}

.btn:hover {
	  background: #3cb0fd;
	  background-image: -webkit-linear-gradient(top, #3cb0fd, #2470a3);
	  background-image: -moz-linear-gradient(top, #3cb0fd, #2470a3);
	  background-image: -ms-linear-gradient(top, #3cb0fd, #2470a3);
	  background-image: -o-linear-gradient(top, #3cb0fd, #2470a3);
	  background-image: linear-gradient(to bottom, #3cb0fd, #2470a3);
	  text-decoration: none;
}

.bg-color{

	background-color:#FFFFFF
}

.contact{

	margin:auto auto 50px auto;
	width:30%;
	line-height: 2;
}

.copyright{

	color:#EAF6F6;
	font-size: 100%;
}

.hello{

	font-size:250%;
}

.pro-desc{
	width: 30%;
	margin:auto auto auto auto;
	line-height: 2;
}
